
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #b7dfb7;
}

.wrapper {
    width: 350px;
    padding: 30px 30px;
    margin: 130px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35 rgba(0, 0, 0, 0.3);
    position: relative;
}

header {
    outline: none;
}

h1 {
    font-size: 2rem;
    color: #10541a;
    margin-bottom: 1.2rem;
}

h2 {
    font-size: 1.5rem;
    color: #10541a;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
}

form input {
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}

.wrapper img {
    width: 25px;
    cursor: pointer;
    position: absolute;
    top: 162px;
    left: calc(82% - 20px);
}

button {
    font-size: 1rem;
    margin-top: 35px;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background: rgb(30, 103, 11);
}

button a {
    text-decoration: none;
    color: #fff;
}

button:hover {
    background: rgba(30, 103, 11, 0.977);
}

input:focus {
    border: 1px solid rgb(192, 192, 192);
}

.terms input {
    height: 16px;
    width: 16px;
    vertical-align: middle;
    cursor: pointer;
}

.terms label {
    font-size: 0.7rem;
}

.terms a {
    color: rgb(30, 103, 11);
    text-decoration: none;
}
